<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Оценки группы ' + ${group.id}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css"/>
    <script src="/script.js"/>
</head>
<body>
    <h3 th:text="'Онцеки группы #' + ${group.id}"/>
    <h4 th:text="${group.speciality.name} + ', ' + ${group.course} + ' курс, ' + (${group.fulltime} ? 'очное' : 'заочное') + ' отделение'"/>
    <table border="1">
        <tr>
            <th/>
            <!--<th th:each="studentMark : ${marks.entrySet()}" th:text="${discipline.name}"/>-->
        </tr>
        <tr th:each="studentMark : ${marks.entrySet()}">
            <td th:text="${studentMark.key.lastName} + ' ' + ${studentMark.key.firstName}"/>
            <td th:each="mark : ${studentMark.value}" th:text="${mark.value.stream().findAny().get().mark}"/>
        </tr>
    </table>

</body>
</html>