<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Группа номер ' + ${group.id}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles.css"/>
    <script src="/script.js"/>
</head>
<body>
    <h3 th:text="'Студенты группы #' + ${group.id}"/>
    <h4 th:text="${group.speciality.name} + ', ' + ${group.course} + ' курс, ' + (${group.fulltime} ? 'очное' : 'заочное') + ' отделение'"/>
    <ol>
        <li th:each="student : ${students}">
            <div th:class="'student' + ${student.expulsion ne null ? 'Off' : 'On'}"/><a th:href="'/student' + ${student.id}" th:text="${student.lastName} + ' ' + ${student.firstName}"/>
        </li>
    </ol>
    <h4><a th:href="'marksOfGroup' + ${group.id}">Просмотреть оценки всей группы</a></h4>
</body>
</html>